body{
    background-color:gainsboro;
}

.card{
        display:inline-block;
    }

.card img,
.cardBack{
    width:100%;
    border-radius:20px;

}




.phase1 {
    .cardInner{
        display:inline-block;
        width:200px;
        padding:10px;
        padding-bottom:10px;
    }
    
    .card img:hover{
    transform: scale(1.1);
    cursor:pointer;
}
    
    .card img{
    margin:10px;
    transition: 0.2s;

}


    .cardInner .selectedCard {
        transition:0.2s; 
    }

    .cardInner .selectedCard.animated{
        position:fixed;
        z-index:2;
        width:200px;
        /*top:100%;*/
    }


    #cardGrid{
        margin-top:40px;
        width:1400px;
        margin:0 auto;
        text-align:center;
        margin-bottom:200px;
    }

    #selectedCardsArea.active{
        width:100%;
        display:block;
        background:white;
        z-index:1;
        position:fixed;
        bottom:0px;
        height:100px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+100,ffffff+100&0.3+0,1+45 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
}

.phase2{
    margin:0 auto;
    text-align:center;
    margin-top:10%;
    

    .selectedCard img,
    .cardBack{
        width:270px;
        height:414px;
    }



    .flipContainer p{
        position:relative;
        right:35px;
        font-family: monospace;
        font-size: 14pt;
    }
    .flipContainer {
        perspective: 1000px;
        display:inline-block;
        width:400px;
        padding:10px;
        padding-bottom:10px;
        position:relative;
        
    }
        /* flip the pane when hovered */
        .flipContainer.flipped .flipper{
            transform: rotateY(180deg);
            right:100px;
        }


    /* flip speed goes here */
    .flipContainer .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    /* hide back of pane during swap */
    .cardFront, .cardBack {
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0px;
    }
    
    .cardBack{
        background-color:brown;
    }

    .cardFront {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    .cardBack {
        transform: rotateY(180deg);
    }
    
    .textContainer{
        border-top:3px solid black;
        padding-top:40px;
        
        a#nextButton{
        display:inline-block;
          border-radius: 16px;
          font-family: Arial;
          color: #ffffff;
          font-size: 20px;
          background: #346bd9;
          padding: 10px 20px 10px 20px;
          border: solid #1f628d 0px;
          text-decoration: none;
          cursor:pointer;
        }
        a#nextButton:hover {
            background: #3c91fa;
            text-decoration: none;
        }
        div.descriptionText {
            font-family: monospace;
            font-size: 14pt;
        }
    }
    
    

    
}


