body {
  background-color: white; }

.card {
  display: inline-block; }

.card img,
.cardBack {
  width: 100%;
  border-radius: 20px; }

.cardFront {
  z-index: 1;
  transition: opacity 1s ease-in-out;
  opacity: 1; }

.selectedCard.flipped .cardFront {
  opacity: 0; }

.cardBack {
  background-color: brown; }

.phase1 .cardInner {
  display: inline-block;
  width: 200px;
  padding: 10px; }
@media (max-width: 1000px) {
  .phase1 .cardInner {
    width: 120px; } }
.phase1 .card img:hover {
  transform: scale(1.1);
  cursor: pointer; }
.phase1 .card img {
  margin: 10px;
  transition: 0.2s; }
.phase1 .cardInner .selectedCard {
  transition: 0.2s; }
.phase1 .cardInner .selectedCard.animated {
  position: fixed;
  z-index: 2;
  width: 200px;
  /*top:100%;*/ }
.phase1 #cardGrid {
  margin-top: 40px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 200px; }
.phase1 #selectedCardsArea.active {
  width: 100%;
  display: block;
  background: white;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  height: 100px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+100,ffffff+100&0.3+0,1+45 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, white 45%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, white 45%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, white 45%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.phase2 {
  margin: 0 auto;
  text-align: center;
  margin-top: 2em; }
  .phase2 .selectedCard img,
  .phase2 .cardBack {
    width: 270px;
    height: 414px; }
    @media (max-width: 1280px) {
      .phase2 .selectedCard img,
      .phase2 .cardBack {
        width: 202.5px;
        height: 313px; } }
    @media (max-width: 950px) {
      .phase2 .selectedCard img,
      .phase2 .cardBack {
        width: 135px;
        height: 212px; } }
  .phase2 .selectedCard p {
    bottom: 20px;
    font-family: monospace;
    font-size: 14pt;
    text-align: center;
    margin-top: calc(100% + 30px); }
  .phase2 .selectedCard {
    display: inline-block;
    width: 400px;
    height: 500px;
    padding: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    z-index: 0; }
    @media (max-width: 1280px) {
      .phase2 .selectedCard {
        width: 280px;
        height: 375px; } }
    @media (max-width: 950px) {
      .phase2 .selectedCard {
        width: 150px;
        height: 250px; } }
    .phase2 .selectedCard .cardBack, .phase2 .selectedCard .cardFront {
      position: absolute;
      top: 0px;
      left: calc(50% - 135px); }
  .phase2 .textContainer {
    border-top: 3px solid black;
    padding-top: 40px;
    margin-right: 1em;
    margin-left: 1em; }
    @media (min-width: 800px) {
      .phase2 .textContainer {
        margin-right: 10%;
        margin-left: 10%; } }
    .phase2 .textContainer a#nextButton,
    .phase2 .textContainer a#resetButton {
      display: inline-block;
      border-radius: 16px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      background: #346bd9;
      padding: 10px 20px 10px 20px;
      border: solid #1f628d 0px;
      text-decoration: none;
      cursor: pointer;
      margin-top: 1em;
      margin-left: 2em;
      margin-right: 2em; }
    .phase2 .textContainer a#nextButton:hover,
    .phase2 .textContainer a#resetButton:hover {
      background: #3c91fa;
      text-decoration: none; }
    .phase2 .textContainer div.descriptionText {
      font-family: monospace;
      font-size: 14pt; }

/*# sourceMappingURL=style.css.map */
